<div class="container my-1">
    <nav class="navbar navbar-expand-lg " style="background-color: #5f9e81">
        <a class="navbar-brand"  class="text-center p-3">Apll</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/user">User <span class="sr-only"> </span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/register">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/parent">Parents</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " routerLink="/product">Product</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " routerLink="/formTest">FormTest</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " routerLink="/csv-file">csv-file</a>
            </li>
          </ul>
        </div>
      </nav>
    
    
</div>
