<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container my-4">
    <!-- Footer -->
    <footer
            class="text-center text-lg-start text-white"
            style="background-color: #3e4551"
            >
      
    
      <div
           class="text-center p-4"
           style="background-color: rgba(17, 15, 15, 0.2)"
           >
        © 2024 Copyright:
        <a class="text-white" href="https://cvvvv/"
           >cv.com</a
          >
      </div>
     
    </footer>
    <!-- Footer -->
  </div>
  <!-- End of .container -->
